.about{
    .hero-about{
        height: 170px;

        @include tablet{
            height: 220px;
        }

        @include desktop{
            height: 270px;
            h2{
                padding-top: 60px;
            }
        }

        background-color: blanchedalmond;
    }//end hero-about

    .history-about{
        background-color: grey;
        padding: 20px 0px;
        color: white;
        .blue-bg{
            background-color: $third-blue;
            width: 70%; margin: 0 auto;
            padding: 30px;
            @include roundCorners(15px);
        }

        .quote{
            text-align: center;
            font-family: $quote;
            margin: 10px;
        }
    }

    .values{
        
        background-color: $purple;
        padding: 25px 0px 40px;
        text-align: center;
        display: flex; flex-direction: column;
        h2{
            color: white;
            font-size: 20px;
            font-family: $title;
    
            @include desktop{
                font-size: $title-desktop;
            }
        }
        h3{
            color: $light-blue;
            font-family: $sub;
        }

        .value-div{
            display: flex; flex-direction: column;
            margin: 0 auto;

            @include tablet{
                flex-direction: row;
                justify-content: space-around;
                width: 70%;
            }

            //contains 2 images
            .values-grid{
                display: flex; flex-direction: column;
                //1 value
                .value{
                    margin-top: 20px;
                    img{
                        width: 110px;
                    }
                    h4{
                        color: white;
                        font-family: $sub;
                        margin-top: 15px;
                    }
                }
            }
        }
    } 
    
    .association{
        display: flex; flex-direction: column;
        #team-bg{
            background: url('../public/images/about-team.jpg') center no-repeat;
            height: 100px;

            @include tablet{
                height: 150px;
            }

            @include desktop{
                font-size: $title-desktop;
                height: 200px;
            }

            h2{
                text-align: center;
                color: $orange;
                font-family: $title;
                font-size: 20px;
                padding-top: 35px;

                //media queries
                @include tablet{
                    padding-top: 60px;
                }
    
                @include desktop{
                    font-size: $title-desktop;
                    padding-top: 90px;
                }
            }
        }

        #team-summary{
            text-align: center;
            margin: 30px;
        }

        .team-activity{
            display: grid;
            padding: 25px;

            .activity{
                background-color: yellowgreen;
                display: flex; flex-direction: column;
                margin-bottom: 20px;

                h3{
                    color: $dark-blue;
                    font-family: $title;
                    margin-top: 10px;
                }
            }
        }
    }

    .leadership{
        padding: 0px 25px;
        background-color: black;
        color: white;
        padding: 25px 25px 40px;

        h2{
            color: white;
            font-family: $title;
            font-size: 20px;
            text-align: center;
        }

        h3{
            font-family: $sub; color: $light-blue;
            text-align: center;
        }

        @include desktop{
            h2{
                font-size: $title-desktop;
            }
        }

        //leader wrapper
        .leaders{
            display: grid; 
            grid-gap: 20px;
            margin-top: 25px;

            @include tablet{
                grid-template-columns: 1fr 1fr;
            }

            #leader-info{
                display: flex; flex-direction: column;
                h4{
                    color: $orange;
                    font-family: $title;
                    margin: 5px 0px 15px;
                }
            }
        }
    }
}//end about