.events{
    .hero-events{
        height: 170px;

        @include tablet{
            height: 220px;
        }

        @include desktop{
            height: 270px;
            h2{
                padding-top: 60px;
            }
        }
        
        background-color:beige;
    }

    .seminars{
        padding: 30px 0px;
        h2{
            text-align: center;
            color: $dark-blue;
            font-family: $title;
            font-size: 20px;
            margin-bottom: 30px;
            @include desktop{
                font-size: $title-desktop;
            }
        }
    }

    #flyers{
        display: grid; grid-template-columns: 1fr 1fr;
        grid-gap: 30px; background-color: bisque;
        //replace with img
        #img{
            width: 100px; height: 175px;
            background-color: beige;
            margin: 0 auto;
        }

        @include tablet{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    .common-topics{
        margin: 30px 0px;
        display: flex; flex-direction: column;
        h2{
            text-align: center;
            color: $dark-blue;
            font-family: $title;
            font-size: 20px;
            margin-bottom: 30px;
            @include desktop{
                font-size: $title-desktop;
            }
        }

        .topic-wrapper{
            margin: 0 auto; background-color: bisque;
            display: grid; grid-template-columns: 1fr 1fr;
            grid-gap: 30px; 

            .topic{
                h3{
                    font-family: $sub;
                    font-size: 18px;
                    
                    //how to style diff color for h3
                }
                
            }
        }
    }
}//end events