.home{
    .hero{
        @include tablet{
            height: 350px;
        }

        @include desktop{
            height: 400px;
        }

        background: url('../public/images/home-hero.jpg') center no-repeat;
        height: 300px;
        display: flex; flex-direction: column;
        #text{
            width: 200px;
            margin: 0 auto;
            margin-top: 100px;

            //media queries
            @include tablet{
                margin-top: 125px;
            }

            @include desktop{
                margin-top: 150px;
            }

            //styling text
            p{
                color: white;
                font-size: 25px;
                text-align: center;
                font-family: $title;
                margin-bottom: 10px;
            }

            #blue{
                color: $light-blue;
            }
        }
    }

    .problem{
        padding: 25px;

        h2 {
            font-size: $title-phone; 
            margin-bottom: 10px;
            color: $dark-blue;
            font-family: $title;

            @include desktop{
                font-size: $title-desktop;
            }
        }
        .problem-content{
            display: flex;
            flex-direction: column;
            width: 100%; margin: 0 auto;
            p{
                margin-top: 10px;
            }

            img{
                width: 220px; margin: 0 auto;
                margin-top: 20px;
                
            }

            //media queries
            @include tablet{
                flex-direction: row;
                img{
                    margin-right: 20px;
                }
            }
        }

        .mission{
            @include tablet{
                flex-direction: row-reverse;
                img{
                    margin-left: 20px;
                }
            }
        }

        //put Our Mission into the right
        #right{
            @include tablet{
                margin-left: 78%;
            }
        }
    }//end Current problem

    .available{
        background-color: $third-blue;
        padding: 25px 25px 40px;
        h2{
            font-size: $title-phone;
            text-align: center;
            color: $orange;
            font-family: $title;
            padding-bottom: 10px;
            @include desktop{
                font-size: $title-desktop;
            }
        }
        p{
            text-align: center;
            padding-bottom: 30px;
            color: white;
            width: 50%;
            margin: 0 auto;
        }

        //videos
        article{
            background-color: chocolate;
            margin: 0 auto;
            display: flex; flex-direction: column;

            @include tablet{
                flex-direction: row;
                justify-content: space-between;
            }
            .video-wrapper{
                h3{
                    text-align: left;
                    margin-bottom: 3px;
                    color: white;
                    font-size: 18px;
                    font-family: $title;
                    @include desktop{
                        font-size: 22px;
                    }
                }
                h4{
                    text-align: left;
                    color: $light-blue;
                    font-family: $sub;
                }
            }
        }
    }
}