.platform{
    padding-bottom: 40px;
    .hero-platform{
        box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, .3);
        height: 270px;
        background: url('../public/images/platform-hero.jpg') center no-repeat;
        display: flex; flex-direction: column;
        padding-left: 20px; padding-right: 20px;
        @include tablet{
            height: 315px;
            padding-left: 35px; padding-right: 35px;
        }

        @include desktop{
            height: 360px;
            padding-left: 50px; padding-right: 50px;
        }
        
        //styling text
        #bg{
            background:rgba(0, 0, 0, 0.7);
            @include roundCorners(15px);
            color: white;
            margin-top: 7%; 
            padding: 20px;
            h2{
                font-family: $title;
                font-size: 25px;
                margin-bottom: 10px;
                color: white;
                @include desktop{
                    font-size: 30px;
                }
            }
        }
        
    }

    #retailers{
        h2{
            font-family: $title;
            font-size: 20px;
            margin: 20px; color: $dark-blue;
            text-align: center;
            @include tablet{ font-size: 25px; }
            @include desktop{ font-size: 30px; }
        }

        img{
            width: 100%;
        }
    }

    .graph{
        img{
            width: 100%;
        }
    }

    .qualification{
        display: flex; flex-direction: column;
        padding: 30px 30px 10px 30px;
        h2{
            font-family: $title;
            font-size: 20px;
            color: $dark-blue;
            text-align: center;
            margin-bottom: 20px;
        }

        h3{
            font-family: $sub;
            font-size: 18px;
            text-transform: uppercase;
            color: $sec-blue;
            margin-bottom: 20px;
        }

        #qual-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;

            #qualify{
                #hash{
                    color: $sec-blue;
                    margin-top: 10px;
                }
            }
        }

        @include tablet{
            h2{ font-size: 25px;}
            h3{ font-size: 20px;}
            #qual-wrapper{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 40px;
            }
        }
        @include desktop{
            padding: 30px 0px;
            h2{ font-size: 30px;}
            h3{ font-size: 25px;}
            #qual-wrapper{
                display: grid;
            }
        }
    }
    

    .process{
        display: flex; flex-direction: column;
        padding: 30px 30px;
        h2{
            font-family: $title;
            font-size: 20px;
            color: $dark-blue;
            text-align: center;
        }
        h3{
            font-size: 15px; font-family: $sub;
            text-align: center;
        }
        //media queries
        @include tablet{
            h2{ font-size: 25px;}
            h3{ font-size: 18px;}
        }
        @include desktop{
            padding: 30px 0px;
            h2{ font-size: 30px;}
            h3{ font-size: 20px;}
        }

        .overview-wrapper{
            display: flex; flex-direction: column;
            margin: 0 auto;
            @include tablet{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;
            }
            .overview{
                display: flex; flex-direction: row;
                margin-top: 30px;
                img{
                    width: 110px; height: 170px;
                }
                .overview-content{
                    margin-left: 20px;
                    h4{
                        font-family: $title;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}//end platform